<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062642324910-v1d6ohe1f2id4lkrti8cfrlb4lvn04hr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062642324910-v1d6ohe1f2id4lkrti8cfrlb4lvn04hr</string>
	<key>API_KEY</key>
	<string>AIzaSyCy7j03_wpflsPwDPVOV4dB62b_XTedFuE</string>
	<key>GCM_SENDER_ID</key>
	<string>1062642324910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.dzhalelov.dzhalelovAuth</string>
	<key>PROJECT_ID</key>
	<string>dzhalelov-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>dzhalelov-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062642324910:ios:994bb39d50e687299b243f</string>
</dict>
</plist>